
input {
  height:25px!important;
  margin:10px;
  padding:5%;
}

.header{
  height:10vh;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size:0.7em!important;
}


.header-button{
  background-color:cornflowerblue;
  color:white;
  border: none;
  width:60px;
  font-size:10px;
  padding:0.5em;
  border-radius: 12px;
  box-shadow: 1px 1px 6px #dedede;
}


.header-button:hover{
  background-color: white;
  color:cornflowerblue;
  cursor:pointer;
}

.footer{
  height:10vh;
  background-color: aliceblue;
  color:darkblue;
  font-weight: 600;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:0.7em!important;
}

.content{
  height: 75vh;
  width:100%;
  overflow: scroll;
  font-size: 10px;
  display:flex;
  flex-direction: row; 
  justify-content: space-evenly;
  padding:3% 0;
}

.products-container{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 2em;
  padding:1% 0;
  /* padding:1% 4%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end; */
}

.product{
  background-color: #d3d3d3;
  padding:0.3em 0.3em;
  width:260px;
  border-radius: 12px;
  box-shadow: 0 0 4px #dedede;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product-image{
width:100%;
}

.product-button{
  border:none;
  background-color:darkmagenta;
  color:white;
  font-weight: 600;
  border-radius: 12px;
  margin:0.5em;
}

.product-button:hover{
  cursor:pointer
}

.price{
  font-weight: 900;
  font-size: 1.2em!important;
}

.product-name{
  color:darkblue;
  font-size: 1.3em;
  font-weight: 700;
}

.product-description{
  font-size:1.2em;
  font-weight: 300;
  font-style: italic;
}


.admin-panel{
  height:100vh;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

.formbox{
  display:flex;
  flex-direction: column;
}

.ProductDetail{
  width:100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Product-detail{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:1em;
  border-radius: 12px;
  box-shadow: 0 0 1em cadetblue;
}

.Product-detail:hover{
  cursor:pointer;
}

.form-container{
  margin:0 15%;
  padding: 4em;
  min-height:70vh;
}

.full-center{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
}

.LogInContainer{
  width:100vw;
  height:100vh;
}

.back-btn{
  position:absolute;
  top:100px;
  left:10px;
}



@media screen and (max-width:793px){
  .products-container{
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  }
}



@media screen and (max-width:500px){
  .products-container{
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  }
}