

.header{
  height:5vh;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center
}

.footer{
  height:5vh;
  background-color: aliceblue;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  height:90vh;
  width:100%;
  min-height: calc(100vh * 1/2);
  overflow: scroll;
  font-size: 10px;
  display:flex;
  flex-direction: column; 
  align-items: center;
  padding:2% 0;
}

.products-container{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 1em;
  /* padding:1% 4%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end; */
}

.product{
  background-color: #d3d3d3;
  padding:0.3em 0.3em;
  width:260px;
  border-radius: 12px;
  box-shadow: 0 0 4px #dedede;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product-image{
width:100%;
}

.admin-panel{
  height:100vh;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

.formbox{
  display:flex;
  flex-direction: column;
}

.ProductDetail{
  width:100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container{
  width:60%;
  margin:auto;

}

.full-center{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
}

.logapp{
  height:100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}

.back-btn{
  position:absolute;
  top:10px;
  left:10px;
}



@media screen and (max-width:793px){
  .products-container{
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  }
}



@media screen and (max-width:500px){
  .products-container{
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  }
}